.wrapper {
	height: 100vh;
	display: grid;
	grid-template-columns: auto [contentstart] 450px [contentend] auto;
	gap: 50px;
	justify-items: center;
	align-content: center;
}

.logo {
	grid-column: contentstart / contentend;
	display: block;
}

.text {
	grid-column: contentstart / contentend;
	text-align: center;
	color: var(--gray-30);
}

form {
	grid-column: contentstart / contentend;
}
