@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700&display=swap");

html,
body {
	margin: 0;
	padding: 0;
	color: var(--gray-50);
	background: var(--white);
	font-family: var(--font-family);
}

a {
	text-decoration: none;
	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	/*Common*/
	--font-family: "Nunito", sans-serif;

	/*Brand Colours*/
	--brand-red: #db4d45;
	--brand-green: #6bc2bb;
	--brand-yellow: #ffc639;
	--brand-black: #333333;

	/*Brand and Complementary Color Variants*/
	--brand-red-variant-01: #c5453e;
	--brand-red-variant-02: #af3d37;
	--brand-green-variant-01: #60aea8;
	--brand-green-variant-02: #559b95;
	--brand-yellow-variant-01: #e5b233;
	--brand-yellow-variant-02: #cc9e2d;
	--white: #ffffff;

	/*Grayscale*/
	--gray-5: #fafafc;
	--gray-10: #e7e9ed;
	--gray-20: #ced2db;
	--gray-30: #b6bcc9;
	--gray-40: #9ea5b8;
	--gray-50: #858fa6;

	/*Semantic Color*/
	--support-message: #4070f4;
	--support-warning: #ffad0d;
	--support-success: #0bb07b;
	--support-error: #f03d3d;
	--support-info: #3c4c70;

	/*Shadow*/
	--shadow-s: 0px 2px 4px rgba(11, 31, 77, 0.08);
	--shadow-m: 0px 4px 8px rgba(11, 31, 77, 0.1);
	--shadow-l: 0px 8px 16px rgba(11, 31, 77, 0.12);
	--shadow-xl: 0px 12px 24px rgba(11, 31, 77, 0.14);
	--shadow-xxl: 0px 16px 32px rgba(11, 31, 77, 0.16);

	/*Toastify styles override*/

	--toastify-color-success: var(--support-success);
	--toastify-color-warning: var(--support-warning);
	--toastify-color-info: var(--support-info);
	--toastify-color-error: var(--support-error);

	--toastify-toast-width: 350px;
	--toastify-toast-min-height: 86px;
	--toastify-font-family: var(--font-family);
	--toastify-color-light: var(--support-message);
}
